<!DOCTYPE html>
<html class="h-100">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Livro</title>
	<link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
	<!-- Pignose Calender -->
	<!-- Custom Stylesheet -->
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
</head>
<body class="h-100">
	<!--*******************
		Preloader start
	********************-->
	<div id="preloader">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
			</svg>
		</div>
	</div>
	<!--*******************
		Preloader end
	********************-->
	@RenderBody()


	<!--**********************************
		Main wrapper end
	***********************************-->

	<script src="~/plugins/common/common.min.js" asp-append-version="true"></script>
	<script src="~/js/custom.min.js" asp-append-version="true"></script>
	<script src="~/js/settings.js" asp-append-version="true"></script>
	<script src="~/js/gleek.js" asp-append-version="true"></script>
	<script src="~/js/styleSwitcher.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
