@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
    //var base_path = Request.PathBase;
}

<div class="text-center">
    <h1 class="display-4">Welcome To Online Shop</h1>
</div>

<div class="search-form">
    
</div>

<div id="main-page-products" class="row">
   
</div>
