@page
@model IndexModel

@{
	ViewData["Title"] = "Management roluri";
}
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-1">
				<a asp-area="" asp-page="/AdminPanel/RolesManagement/ManageRoles">
					<div class="card-body">

						<h3 class="card-title text-white">Roluri</h3>
						<div class="d-inline-block">
							<h2 class="text-white">Server</h2>
						</div>
						<span class="float-right display-5 "><i class="fa fa-exclamation-triangle"></i></span>
					</div>
				</a>

			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-2">
				<a asp-area="" asp-page="/AdminPanel/RolesManagement/ManageUserRoles">

					<div class="card-body">
						<h3 class="card-title text-white">Roluri</h3>
						<div class="d-inline-block">
							<h2 class="text-white">Administrative</h2>
						</div>
						<span class="float-right display-5 "><i class="fa fa-users"></i></span>
					</div>
				</a>

			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-2">
				<a asp-area="" asp-page="/AdminPanel/RolesManagement/AddUsers">

					<div class="card-body">
						<h3 class="card-title text-white">Adauga</h3>
						<div class="d-inline-block">
							<h2 class="text-white">Conturi</h2>
						</div>
						<span class="float-right display-5 "><i class="fa fa-user"></i></span>
					</div>
				</a>

			</div>
		</div>
	</div>
</div>
